/* Типографика */
.text-h2 {
  /* desktop/h2 */
  font-family: Inter;
  font-size: @desktop--h2;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.text-s {
  /* desktop/tag S */
  font-family: Inter;
  font-size: @desktop--tag--s;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.text-m {
  /* desktop/tag M */
  font-family: Inter;
  font-size: @desktop--tag--m;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.text-lead-s {
  /* desktop/lead S */
  font-family: Inter;
  font-size: @desktop--lead--s;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.text-lead-m {
  /* desktop/lead M */
  font-family: Inter;
  font-size: @desktop--lead--m;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
